body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 40px;
}

.search-bar input {
    padding: 8px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

.container {
    display: flex;
    height: calc(100% - 60px); /* Ajusta para a altura do cabeçalho */
}

.trails-list {
    width: 300px;
    background-color: #f8f8f8;
    overflow-y: auto;
    padding: 20px;
}

.trails-list h2 {
    margin-top: 0;
}

.trail {
    display: flex;
    margin-bottom: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.trail img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.trail-info {
    padding: 10px;
    flex: 1;
}

.trail-info h3 {
    margin: 0;
    font-size: 1em;
}

main#map {
    flex: 1;
    height: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .trails-list {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
    }

    main#map {
        height: calc(100% - 200px);
    }
}
